*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'SVN-Gilroy', sans-serif;                      
}
a{
    text-decoration: none;
    list-style: none;
    color: inherit;
    color: $blue3;
    font-size: 16px;
    font-weight: 1.9rem;
}
li{
    list-style: none;
    text-decoration: none;
}
ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 10px;
}

